body{
    margin-top: 20px;;
    background-image: url(img.jpg) ;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

h1{
    font-family:cursive;
}

input{
    font-size: 30px;
    border:3px solid black;
    height:50px;
    width:500px;
    border-radius: 20px;
    font-family: cursive;
}

#btntasks{
    height: 60px;
    width:90px;
    border:3px solid black;
    border-radius: 20px;
    font-family: cursive;
    background-color: lightgreen;
    cursor: pointer;
}

.delete{
    height:40px;
    width:40px;
    border-radius: 50%;
    border:3px solid black;
    font-weight: bold;
    font-size: 20px;
    background-color:white;
    color:grey;
    cursor: pointer;
    margin-left:10px;
}

.delete:hover{
    background-color: #e60000;
}
.li{
    display:flex; 
    align-items: center;
    justify-content: space-between;
    font-size:40px;
    font-family: cursive;
    line-height: 60px;
    color: darkorange;
}

